.prominent-pack-all {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--bs-white);
    border: 2px solid var(--bs-gray-800);
    color: var(--bs-gray-800);
    padding: 0.75rem 2.5rem;
    border-radius: .375rem;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.prominent-pack-all:hover {
    background-color: var(--bs-gray-800);
    color: var(--bs-white);
    border-color: var(--bs-gray-800);
}

.prominent-pack-all:hover .far {
    color: var(--bs-white);
}
